.card {
    position: relative;
}

.card img {
width: 100%;
display: block;
border: 2px solid rgb(12, 10, 10);
border-radius: 6px;
background: #9d94c4;
}

.card .face{
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .face{
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .dos{
   transition: all ease-in 0.2s; 
   transition-delay: 0.2s;
}
.flipped .dos{
    transform: rotateY(90deg);
    transition-delay: 0s;
}